body {
  background: rgba(129, 151, 153,0.3);
  font-family: 'Krub', sans-serif;
  font-family: 'Raleway', sans-serif;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
